<!doctype html>
<html lang="fr">
  <head>
    <meta charset="utf-8">

    <link rel="icon" href="https://cdn.discordapp.com/attachments/1187449557748035634/1208753607122485288/Natifia1.png?ex=65eda905&is=65db3405&hm=a47d9355a4708a76eb7f2feafac2bd235eb5d6a95064b2c7056968bd5ac48ae6&p">
    <link rel="stylesheet" href="/styles/styles.css">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Retranscription des tickets">
    <meta name="author" content="Zelyphe, MrCyci6 & Céréales">

    <title>Ticket | <%= profile.username %></title>
  </head>
  <body>

    <header>
      <div class="left">
        <img src="https://cdn.discordapp.com/attachments/1187449557748035634/1208753607122485288/Natifia1.png?ex=65eda905&is=65db3405&hm=a47d9355a4708a76eb7f2feafac2bd235eb5d6a95064b2c7056968bd5ac48ae6&" alt="Natifia" width="25%">
    
        <h3>Tableau de bord</h3>
      </div>
    
      <div class="right">
        <a href="/logout">Logout</a>
      </div>
    </header>

    <div class="ticket-container">  

      <%-htmlLinks%>
      
    </div>
  
    <footer id="footer">
      <p>Copyright © 2024 <a href="https://www.natifia.fr">Natifia</a> - Tous droits réservés.</p>
    </footer>

    <script src="/js/stickyFooter.js"></script>
  </body>
</html>
